$oslo-gray: #88898e;
$cerulean: #04b4f3;
$blue-zodiac: #101955;
$botticelli: #d8e4ee;
$waikawa-gray: #616990;
$viking: #60b9da;
$lynch: #70789c;
$picton-blue: #3cccf4;
$boston-blue: #3c9cbc;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}